@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primaryColor: #1a1a1a;
  --secondaryColor: #1987a6;
  --textColor: #eee;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primaryColor);
  font-family: 'Titillium Web', sans-serif;
  color: var(--textColor);
}

h1 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.App-link {
  color: var(--secondaryColor);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
