@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primaryColor: #1a1a1a;
  --secondaryColor: #1987a6;
  --textColor: #eee;
  --borderColor: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: var(--primaryColor);
  font-family: 'Titillium Web', sans-serif;
  color: var(--textColor);
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.App-logo {
  max-height: 30vh;
  margin-bottom: 3vh;
}

.App-title {
  margin-bottom: 3vh;
}

.App-footer {
  margin-top: auto;
}

.App-button {
  min-height: 5vh;
  min-width: 15vh;
  margin-bottom: 3vh;
  background-color: var(--secondaryColor);
  border: 0px solid;
  border-radius: 1vh;
  font-size: x-large;
  font-weight: bold;
  color: var(--textColor);
}

.App-code-block {
  background-color: #2d2d2d;
  color: var(--textColor);
  padding: 0.2vh;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  word-break: break-all;
  border-radius: 0.25vh;
}

.App-link {
  color: var(--secondaryColor);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
