.Data-negative-title {
  margin-bottom: 3vh;
}

.Data-negative-paragrapgh {
  margin-bottom: 3vh;
}

.Data-example {
  position: fixed;
  display: flex;
  z-index: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 60%;
  background-color: var(--primaryColor);
  border: 1px solid;
  border-color: var(--borderColor);
  border-radius: 1vh;
}

.Data-title {
  padding-bottom: 1vh;
}

.Data-table {
  margin: 0 auto;
  margin-bottom: 3vh;
  border: 1px solid;
  border-color: var(--borderColor);
}

.Data-table2-column {
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: var(--borderColor);
}

.Data-table-column {
  border-right: 1px solid;
  border-color: var(--borderColor);
}

.Data-table-row {
  border-bottom: 1px solid;
  border-color: var(--borderColor);
}

.Data-last-fetched {
  padding-bottom: 3vh;
}

.Data-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .Data-example {
    top: 20%;
    left: 12.5%;
    width: 75%;
    height: 60%;
  }
}

@media screen and (max-width: 425px) {
  .Data-example {
    top: 20%;
    left: 5%;
    width: 90%;
    height: 60%;
  }
}
